<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LoginPage().Properties.Settings.Final_Project_RapidConnectionString"
             connectionString ="Data Source = (LocalDB)\MSSQLLocalDB; AttachDBFilename = |DataDirectory|Final_Project_Rapid.mdf; Integrated Security = True"
            providerName ="System.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>